.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cart-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    padding-left: 20px;
  }
  
  .cart-item-details h5 {
    margin: 0 0 10px 0;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .cart-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-quantity button {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .cart-quantity button:hover {
    background-color: #2980b9;
  }
  
  .remove-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .remove-btn:hover {
    background-color: #3498db;
  }
  
  .cart-summary {
    margin-top: 20px;
    text-align: center;
  }
  
  .cart-summary h3 {
    font-size: 1.5em;
  }
  
  .checkout-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .checkout-btn:hover {
    background-color: #2980b9;
  }
  